.form-container {
  /* display: inline;
  text-align: center;
  margin: auto 0;
  margin: 2em;

  justify-content: center; */
}
  
/* .center {
  margin: auto;
}

.submitBtn {
  border-radius: 10px 10px 10px 10px;
}

.floatRight {
  float: right;
  overflow: auto;
}

mat-card {
  border-radius: 10px;
  margin: 10px;
}

mat-card img {
  object-fit: cover; 
  width: 10%; 
  height: 10%;
} */

