.parentWrapper {
  text-align: center;
}

.form-container {
  display: inline-block;
  padding: 0.5em;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1em;
}

mat-form-field {
  margin-top: 0.5em;
  margin-right: 0.5em;
}
  
.btn {
  border-radius: 5px;
}

.title {
  text-align: center;
  font-size: 20px;
  color: rgb(70, 70, 194);
  text-shadow: 2px 2px rgb(233, 253, 253);
}

.showAllBtnDiv {
  text-align: center;
}

.centerSpinner{
  margin: 0 auto;
}

.card-container {
  display: block;
  margin-right: auto;
}

.card-heading {
  font-size: 3em;
}

.card-transaction {
  padding-top: 1em;
  color: green;
}

mat-card {
 /* width: 50%; */
 padding: 1em;
 margin: 1em auto;
 border-radius: 10px;
}


