<form class="form-container" [formGroup]="userInputForm" (ngSubmit)="onSubmit()">

  <mat-form-field hideRequiredMarker>
    <mat-select placeholder="Price Point" formControlName="pricePoint" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let price of pricePoints" [value]="price.value">{{price.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field hideRequiredMarker>
    <input matInput formControlName="city" placeholder="City" pattern="[a-zA-Z ]*" required>
  </mat-form-field>

  <mat-form-field hideRequiredMarker>
    <mat-select placeholder="State" formControlName="state" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!userInputForm.valid">Submit</button>
</form>



<h1>Business details</h1>
<div *ngIf="errorMsg">
  <h3>{{errorMsg}}</h3>
</div>


<mat-card *ngFor="let data of returnedData">
    <mat-card-title>{{data.name}}</mat-card-title>		
    <mat-card-subtitle>STARS</mat-card-subtitle>
    <mat-card-content>CONTENT</mat-card-content>
    <img mat-card-image src="{{data.image_url}}">

</mat-card>

<!-- <div *ngFor="let data of returnedData">
  <h2>{{data.name}}</h2>
  <h2>{{data.price}}</h2>
</div> -->

<div *ngIf="spinner">
<mat-spinner></mat-spinner>
</div>