.form-container {
  /* display: inline;
  text-align: center;
  margin: auto 0;
  margin: 2em;

  justify-content: center; */
}
  
/* .center {
  margin: auto;
}

.submitBtn {
  border-radius: 10px 10px 10px 10px;
} */



mat-card {
 padding: 0.5em;
 margin: 1em;
 width: 25%;
}

.img_url {
  /* display: inline;
  margin: 1em; */
  border-radius: 0.5em;
  margin: 0 auto;
  background-size: cover;
  width: 100%; 
  height: 25%;
}


.transaction {
  color: green;
}
